html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	font-family: 'PT Sans Narrow', 'Arial', sans-serif;
	background: #070707 url("../img/body.jpg") no-repeat center top;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 24px;
	min-height:100%;
	margin: 0;
	padding: 0;
}
.inner {
	background: #f8f5f2 url("../img/bg-pattern.jpg");
	margin: 0;
}
ul {
	list-style-type: none;
}
a, a:visited { /* порядок правил для ссылок имеет значение */
	text-decoration: none;
	font-weight: 700;
	cursor: pointer;
}
a:hover, a:focus, a:active {
	background-color: #242424;
	color: #fff;

}
h1, h2, h3, h4, h5, h6{
	font-weight:bold;
}
img{
	max-width:100%;
	object-fit: contain;
}
/* --------------- /базовые настройки ---------*/

.main-header {
	background-color: #000;
	position: fixed;
	top: 0;
  width: 100%;
  z-index: 20;
}
	.main-header a{
		color: inherit;
		padding: 25px 20px;
		font-size: 16px;
	}
	.main-header a:hover{
	background: #4e4d4d;
	}
	.centerfix {
	    margin: 0 auto;
	    max-width:940px;
			padding: 0 10px;
	  }

	.main-header *{
		display: flex;
		justify-content: space-between;
	}
	.main-header .centerfix{
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.main_page {
	  display: none;
	}
	.logo_header > a {
		padding-left: 10px;
	}
	.toggle {
		display: block;
	}

	/*---медиа-меню---*/
	.hidden-menu {
		width: calc(100% - 150px);
		display: none;
	  padding-left: 40px;
	  text-decoration: none;
		font-size: 16px;
		line-height: 24px;
		font-family: 'Roboto', 'Arial', sans-serif;
	}
	.main-header.page .hidden-menu {
		width: calc(100% - 281px);
		position: initial;
		padding-left: 0;
	}
	.hidden-menu .mobi-hover {
		height: 100%;
	  padding: 0;
		padding-right: 50px;
	  text-decoration: none;
	  align-items: center;
	  color: #fff;
	  line-height: 16px;
	  position: relative;
	  display: inline-block;
	  -webkit-transition: color .5s linear;
	  transition: color .5s linear;
	  cursor: pointer;
	}
	.hidden-menu .mobi-hover:hover {
		background: #000
	}
	.main-header.page .mobi-hover {
		margin-left: 15%;
	}
		.mobi-hover .icon {
			top: 10px;
	    left: 15px;
	    position: absolute;
		}
		.mobi-hover .icon > span {
			display: inline-block;
	    width: 20px;
	    box-sizing: border-box;
	    height: auto;
	    border-bottom: 3px solid #fff;
	    border-top: 3px solid #fff;
	    position: relative;
	    padding: 6px;
	    margin-top: 40%;
			transition: all .5s ease;
	    transition-delay: 0.1s;
		}
			.mobi-hover .icon > span::before {
		    content: "";
		    position: absolute;
		    width: 20px;
		    background: #fff;
		    height: 3px;
		    top: 35%;
		    margin-left: -30%;
				transition: all .5s ease;
		    transition-delay: 0.1s;
			}
	.hidden-menu .drop-menu {
		flex-wrap: wrap;
		width: 80%;
    position: absolute;
    font-weight: 400;
    top: 100%;
    left: 10%;
		margin: 0;
		padding: 0;
    list-style: none;
    transform: rotateX(90deg);
    transform-origin: left;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
    transition-delay: 0.1s;
    z-index: 5;
	}
	.main-header.page .hidden-menu .drop-menu {
		width: 96%;
		left: 2%;
		padding-left: 0;
		margin: 0;
	}
	.drop-menu li {
		width: 100%;
    color: #fff;
    background: #000;
    border-bottom: 1px solid #fff;
    box-shadow: 1px 1px #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	}
	.main-header.page .drop-menu li {
		background-color: #4e4d4d;
		color: #fff;
	}
	.drop-menu li a {
		width: 100%;
		padding: 10px 20px;
	}
	.main-header.page .drop-menu li a {
		padding: 8px 30px;
	}
	.drop-menu li:hover {
		color: #fff;
	}
	.main-header.page .drop-menu li:hover a {
		background: #f8f4f1;
		color: #000;
	}
	/*выпадение меню при клике*/
	.mobi-hover.open .icon {
    top: 15px;
    left: 20px;
	}
	.mobi-hover.open .icon > span {
		border-bottom: none;
    transform: rotate(45deg) translateX(-6px) translateY(13px);
	}
	.mobi-hover.open .icon > span::before {
		transform: rotate(90deg);
    top: -3px;
	}
	.mobi-hover.open + .drop-menu {
		transform: rotateX(0deg);
    opacity: 1;
    visibility: visible;
	}
	/*---/ конец мобильного меню---*/
		.main-navigation ul {
			font-weight: 600;
			padding-left: 0;
			margin: 0;
    	padding-bottom: 5px;
		}
		.main-navigation a {
			padding: 30px 20px 20px;
		}
			.main-navigation ul .current {
				border-bottom: 5px solid #fff;
				padding-bottom: 20px;
			}
	.user-block {
		width: 110px;
	}
		.user-block .login{
			position: relative;
			padding-left: 50px;
			display: inline-block;
			align-self: center;
		}
			.login::before {
				content: "";
				position: absolute;
				background: transparent url(../img/icon-login.png);
				width: 18px;
				height: 16px;
				left: 20px;
				top: 28px;
				opacity: 0.3;
			}
			.login:hover::before {
		  	opacity: 1;
		}
.main-block {
	padding-top: 60px;
}
	.main-logo {
		width: 370px;
		margin: 80px auto 0;
	}
	.features {
		display: flex;
		justify-content: space-between;
		margin-bottom: 100px;
	}
	.features-item {
		width: 31%;
		text-align: center;
	}
	.features-name {
		font-size: 30px;
		font-weight: 700;
	}
	.rhomb {
		width: 0;
		margin: 15px auto 25px;
		border: 10px solid #fff;
	  transform: rotate(45deg);
	}
		.features-item p {
			line-height: 2;
		}
	.main-content {
		display: flex;
		justify-content: space-between;
		background-color: #fff;
		background: url("../img/column-separate.jpg") no-repeat center,
		#f8f5f2 url("../img/bg-pattern.jpg");
		color: #000;
		padding: 5.3% 8.5%;
		margin-bottom: 30px;
		font-weight: 600;
	}
		.main-content-left {
			width: 48%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		.main-content-right {
			width: 38.5%;
		}
			.main-content-title {
				font-size: 30px;
				font-weight: 600;
				margin-bottom: 30px;
			}
			.main-content-left ul {
				list-style: none;
			}
				.main-content-left ul li,
				.main-content-left > p,
				.main-content-right p{
					font-weight: bold;
					line-height: 1.5;
					margin-bottom: 30px;
				}
				.main-content-left ul li time {
					text-transform: none;
				}
				button {
					text-transform: uppercase;
					font-family: 'PT Sans Narrow', sans-serif;
					font-weight: 600;
					margin: 0;
					padding: 0;
					border: 0;
				}
			.btn, .btn-map {
				display: block;
				width: 140px;
				background-color: #000;
				color: #fff;
				text-align: center;
				padding: 16px 0;
			}
			.main-content-left .btn,
			.main-content-left .btn-map {
				padding: 13px 0;
			}
			.main-content a:hover,
			 .main-content button:hover{
				background: #663d15;
			}

				.gallery-content {
					margin: 10px 0 25px;
					position: relative;
					height: 170px;
				}
				.gallery-content .slide {
					position: absolute;
					left: 0px;
					top: 0px;
					width: 100%;
					height: 100%;
					opacity: 0.1;
					z-index: 1;
					background-size: cover;
					-webkit-transition: opacity 1s;
					-moz-transition: opacity 1s;
					-o-transition: opacity 1s;
					transition: opacity 1s;
				}
				.slide.showing{
					opacity: 1;
					z-index: 2;
				}
			.gallery-content 	.slide:nth-of-type(1) {
				background: transparent url('../img/photo-1.jpg');
			}
			.gallery-content 	.slide:nth-of-type(2) {
				background: transparent url('../img/photo-2.jpg');
			}
			.gallery-content 	.slide:nth-of-type(3) {
				background: transparent url('../img/photo-3.jpg');
			}
				.gallery-content img {
					object-fit: cover;
					width: 100%;
				}
				.block-btn {
					display: flex;
					justify-content: space-between;
					width: 100%;
				}
				.main-content-right .enroll-form {
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
				}
					.enroll-form input {
						width: 46%;
						height: 40px;
						text-transform: uppercase;
						border: 2px solid #000;
						padding-left: 5px;
						margin-bottom: 20px;
					}
					.enroll-form input:focus {
						border: 3px solid #663d15;
					}
					input::-webkit-input-placeholder{
						color:#000;
						font-family: 'PT Sans Narrow', sans-serif;
						font-weight: 600;
					}
					input::-moz-placeholder{
						color:#000;
						font-family: 'PT Sans Narrow', sans-serif;
						font-weight: 600;
					}
					input::-ms-input-placeholder{
						color:#000;
						font-family: 'PT Sans Narrow', sans-serif;
						font-weight: 700;
					}
				.main-content-right .btn1 {
					width: 98%;
					display: block;
					background-color: #000;
					color: #fff;
					padding: 0;
					border: 0;
					text-align: center;
					text-transform: uppercase;
					font-family: 'PT Sans Narrow', sans-serif;
					font-weight: 700;
					padding: 16px 0;
				}
	/*---footer---*/
	.main-footer {
		background-color: #252525;
		box-shadow: inset 0 5px 10px 3px #000;
	}
		.main-footer > .centerfix {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			font-weight: 700;
			padding: 30px 5px;
		}
			.footer {
				width: 33%;
			}
				.footer-contacts a {
					color: #fff;
					text-decoration: underline;
				}
					.footer-contacts a:hover {
						text-decoration:none;
					}
			.footer-social {
				text-align: center;
			}
			.footer-copyright {
				text-align: center;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
    		overflow: hidden;
			}
			.footer-copyright .executor {
				width: 50%;
			}
			.footer-copyright .btn {
				display: inline-block;
				margin-top: 20px;
				padding: 10px 5px;
				width: 100%;
				background: #000;
				color: #fff;
				text-align: center;
			}
				.social-btn {
					margin-top: 20px;
					margin-right: 5px;
					width: 43px;
					height: 43px;
					display: inline-block;
					font-size: 0;
				}
				.social-btn:hover,
				.main-footer .btn:hover {
				  filter: invert(100%);
			  }
				.social-btn-vk {
					background: #000 url(../img/vk.png) no-repeat center;

				}
				.social-btn-fb {
					background: #000 url(../img/fb.png) no-repeat center;
				}
				.social-btn-inst {
					background: #000 url(../img/inst.png) no-repeat center;
				}

		/* Всплывающая форма в index.html*/
		.modal-content {
		  position: fixed;
		  top: 120px;
		  left: 50%;
		  display: none;
		  width: 300px;
		  margin-left: -230px;
		  padding: 50px 80px;
		  color: #000;
		  background: #f8f3f0 url("img/bg-pattern.jpg");
		  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
			z-index: 2;
		}
		.modal-content-map {
		  position: fixed;
		  top: 50%;
		  left: 0;
		  display: none;
		  width: 80%;
		  margin-top: -225px;
		  margin-left: 10%;
		  background: #fff;
		  border: 2px solid white;
		  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
			z-index: 20;
		}
		.modal-content-close {
		  position: absolute;
			top: 10px;
    	right: 25px;
		  width: 22px;
		  height: 22px;
		  font-size: 0;
		  background-color: transparent;
		  border: 0;
		  outline: 0;
		  cursor: pointer;
		}
		.modal-content-close::before,
		.modal-content-close::after {
		  content: "";
		  position: absolute;
		  top: 10px;
		  left: 2px;
		  width: 19px;
		  height: 3px;
		  background-color: #000;
		  border-radius: 1px;
		}
		.modal-content-close::before {
		  transform: rotate(45deg);
		}
		.modal-content-close::after {
		  transform: rotate(-45deg);
		}
		.modal-content h2 {
		  margin: 0;
		  margin-bottom: 20px;
		  font-size: 30px;
		  line-height: 42px;
			text-align: center;
		}
		.modal-content p {
		  margin: 0;
		  text-align: center;
			font-weight: 700;
		}
		.modal-content .login-form {
		  margin-top: 20px;
		  margin-bottom: 10px;
		}
		.login-form input[type="text"],
		.login-form input[type="password"] {
		  width: 241px;
		  margin: 0;
		  margin-bottom: 10px;
		  padding: 10px 15px;
		  padding-right: 40px;
		  font-size: 14px;
			font-weight: 700;
		  line-height: 24px;
		  font-family: "PT Sans Narrow", "Arial", sans-serif;
		  color: #000;
		  text-transform: uppercase;
		  background-color: #f9f6f3;
		  border: 2px solid #000;
		  outline: none;
		}
		.login-form input:focus {
		  border-color: #663d15;
		}
		.login-form input.icon-user {
		  background-image: url("../img/user-login.png");
		  background-repeat: no-repeat;
		  background-position: 95%;
		}
		.login-form input.icon-password {
		  background-image: url("../img/user-password.png");
		  background-repeat: no-repeat;
		  background-position: 95%;
		}
		.login-form a {
		  float: right;
		  color: #000;
			text-decoration: underline;
		}
		.login-form a:visited {
			background: #f8f3f0 url("img/bg-pattern.jpg");
		}
			.login-form a:hover {
				color: #663d15;
				text-decoration: none;
			}
		.login-form .btn {
		  width: 100%;
		  margin-top: 15px;
		}
		.login-checkbox input[type="checkbox"] {
		  display: none;
		}
		.login-checkbox {
		  position: relative;
			font-weight: 700;
		  padding-left: 30px;
		  cursor: pointer;
		}
		.login-checkbox:hover {
		  color: #663d15;
		}
		.login-checkbox input[type="checkbox"] + .checkbox-indicator {
		  position: absolute;
		  top: -3px;
		  left: 0;
		  width: 17px;
		  height: 17px;
		  border: 2px solid #000;
		}
		.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
		.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
		  content: "";
		  position: absolute;
		  top: 8px;
		  left: 1px;
		  width: 15px;
		  height: 2px;
		  background-color: #000;
		}
		.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
		  transform: rotate(45deg);
		}
		.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
		  transform: rotate(-45deg);
		}
		.field-reg {
	    display: block;
			width: 100%;
			margin-top: 10px;
			text-align: center;
	    text-transform: uppercase;
	    cursor: pointer;
			font-weight: bold;
		}
		.field-reg span {
			margin: 0 auto;
			text-decoration: underline;
		}
		.field-reg:hover{
			background: inherit;
		}
		.field-reg:hover span {
			color: #663d15;
			text-decoration: none;
		}

   /* --------------- shop ---------*/
	.block-inner {
		color: #000;
		padding-top: 110px;
	}
		.block-inner a {
			color: #000;
		}
		.block-inner a:hover {
			cursor: pointer;
			background-color: inherit;
		}
		.block-inner h1 {
			font-size: 48px;
			font-weight: bold;
			line-height: 48px;
			margin-bottom: 25px;
			text-align: center;
		}
		.block-inner h2 {
			font-size: 30px;
			font-weight: bold;
			margin-bottom: 25px;
		}
			.breadcrumbs li{
				position: relative;
				display: inline-block;
				padding-right: 30px;
				padding-top: 0;
				font-size: 14px;
				font-weight: bold;
			}
			.breadcrumbs li:last-child {
				color: #aba9a7;
			}
			.breadcrumbs li:not(:first-child)::before {
				content: "";
				position: absolute;
				top: 31%;
				left: -20px;
				display: block;
				width: 8px;
				height: 8px;
				background-color: #000;
				-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
			}

	.catalog {
		display: flex;
		justify-content: space-between;
		padding-top: 40px;
	}
		aside {
			width: 19%;
		}
		.catalog-item {
			width: 74%;
		}
		aside .shop-filters {
			display: flex;
			flex-direction: column;
		}
		aside .shop-filters fieldset {
			border: none;
			padding-bottom: 0;
			padding-left: 0;
			width: 49%;
			box-sizing: border-box;
		}
			aside .shop-filters legend {
				font-size: 22px;
				font-weight: 700;
				margin-bottom: 10px;
			}
				.shop-filters ul {
					margin-bottom: 50px;
					font-weight: 700;
					margin-left: 0;
					padding-left: 0;
				}
					.shop-filters ul li {
						position: relative;
						margin-bottom: 10px;
						line-height: 1.8;
					}
		.catalog-item .item span {
			display: inline-block;
		}
		.catalog-item .item p {
			margin: 0;
			padding: 0;
			transition: all 0.5s ease-in-out;
		}
		.catalog-item .item p .category {
			transition: all 0.5s ease-in-out;
		}
		.catalog-item .item p:hover {
			font-size: 18px;
			font-weight: bolder;
			color: #663d15;
		}
		.catalog-item .item p:hover .category {
			font-size: 18px;
			color: #663d15;
		}

				/*---Стилизованные чекбоксы в форме выбора производителей---*/
				.filters-checkbox input[type="checkbox"] {
					display: none;
				}
				.filters-checkbox {
					position: relative;
					padding-left: 40px;
					cursor: pointer;
				}
				.filters-checkbox:hover {
					color: #663d15;
				}
					.filters-checkbox input[type="checkbox"] + .checkbox-indicator {
						position: absolute;
						top: -1px;
						left: 0;
						width: 17px;
						height: 17px;
						border: 2px solid #000000;
					}
						.filters-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
						.filters-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
							content: "";
							position: absolute;
							top: 7px;
							left: 1px;
							width: 15px;
							height: 2px;
							background-color: #000000;
						}
						.filters-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
							transform: rotate(45deg);
						}
						.filters-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
							transform: rotate(-45deg);
						}
					/*-------Конец стилизации чекбоксов--------*/
					/*---Стилизованные радиокнопки в форме выбора производителей---*/
				.shop-filters input[type="radio"] {
					display: none;
				}
				.filters-checkbox input[type="radio"] + .radio-indicator {
				  position: absolute;
				  top: -1px;
				  left: 0;
				  width: 17px;
				  height: 17px;
				  border: 2px solid #000;
				  border-radius: 50%;
				}
				.filters-checkbox input[type="radio"] + .radio-indicator::after {
				  content: "";
				  position: absolute;
				  top: 0;
				  left: 0;
				  width: 17px;
				  height: 17px;
				  background-color: #000;
					border-radius: 50%;
				  opacity: 0;
				  transition-property: transform;
				  transition-duration: 0.28s;
				}

				.filters-checkbox input[type="radio"]:checked + .radio-indicator::after {
				  transform: scale(0.5);
				  opacity: 1;
				}
				/*-------Конец стилизации радиокнопок--------*/

			input ~ label:hover {
				color: #663d15;
				cursor: pointer;
			}
			.shop-filters button:hover {
				background: #663d15;
				cursor: pointer;
			}
		.catalog-item {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			text-align: center;
		}
			.item {
				width: 33%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				/*box-shadow: 0 5px 32px 2px #a8a8a8;*/
				box-shadow: 0 5px 5px 2px #e2e2e2;
				margin-bottom: 15px;
				letter-spacing: 0.07em;
				text-align: center;
			}
			.item:hover {
				box-shadow: 0 0 8px 5px #c1bfbd;
			}
				/*.item span {
					margin-left: 8%;
				}*/
				.item .category {
					text-transform: none;
					font-size: 16px;
					letter-spacing: -0.2px;
				}
				.price-block {
					width: 84%;
					display: flex;
					margin: 10px auto;
					padding: 0;
				}
					.price-block .price {
						width: 58%;
						text-align: center;
						font-weight: 700;
						padding: 15px 0;
						background-color: #e5e5e5;
					}
					.price-block .btn {
						width: 42%;
						padding: 15px 0;
						color: #fff;
					}
					.price-block .btn:hover {
						background: #663d15;
						cursor: pointer;
					}
			.paginator a {
				display: inline-block;
				margin: 30px 5px 40px 0;
				width: 43px;
				font-weight: 700;
				padding-top: 10px;
				padding-bottom: 10px;
				text-align: center;
				background-color: #000;
				color: #fff;
			}
				.paginator a:hover {
					background: #663d15;
				}
				.paginator .current{
					filter: invert(100%);
				}

		/* --------------- price-list ---------*/
	.big-heading {
		margin-top: 25px;
		margin-bottom: 0;
		text-align: center;
	}
		.big-heading h2 {
			position: relative;
			z-index: 1;
			display: inline-block;
			margin:  0;
			padding: 0 25px;
			font-size: 48px;
			line-height: 48px;
			text-align: center;
			background: #f8f3f0 url("../img/bg-pattern.jpg");
		}
		.big-heading::after {
			content:  "";
			position: relative;
			top: -25px;

			display: block;
			border-bottom: 2px solid #000;
		}
	.content-block {
		display: flex;
		justify-content: space-between;
		font-weight: 700;
		padding: 3% 0 0;
	}
		.content-block h3,
		.about h3 {
			font-size: 22px;
			line-height: 1.3;
		}
		.about h3 {
			margin: 0
		}
			.block-left {
				width: 40.4%;
			}
			.block-left ul {
				margin: 10px 0;
				padding-left: 0;
			}
				.block-left ul li {
					position: relative;
					padding: 10px 0 10px 30px;
				}
				.block-left ul li::before {
					content: "";
					position: absolute;
					top: 38%;
					left: 0;
					display: block;
					width: 8px;
					height: 8px;
					background-color: #000;
					-webkit-transform: rotate(45deg);
									transform: rotate(45deg);
				}
			.block-right {
				width: 49%;
			}
				.block-right table {
					margin: 30px 0;
					border-collapse: collapse;
				}
				.block-right table td{
					width: 228px;
					border: 2px solid #000;
					border-collapse: collapse;
					border-spacing: 0;
					padding: 10px 15px;
				}
				.block-right table tr td:nth-child(1) {
					text-align: left;
				}
				.block-right table tr td:nth-child(2) {
					text-align: center;
				}
				.block-right .entry-button {
					display: block;
					width: 100%;
					background: #000;
					color: #fff;
					padding: 10px 0;
					text-align: center;
				}
				.block-right .entry-button:hover {
					background: #663d15;
					color: #fff;
				}

			/* --------------- item ---------*/
		.item-title {
			font-size: 30px;
			line-height: 42px;
		}
		.item-gallery {
			width: 48.5%;
		}
			.item-gallery img {
				box-shadow: 0 0 5px 3px #e6e4e1;
				height: auto;
			}
			.item-gallery img:hover {
				box-shadow: 0 0 8px 5px #c1bfbd;
			}
			.item-small {
				width: 100%;
				display: flex;
				justify-content: space-between;
				margin-top: 15px;
				margin-bottom: 15px;
			}
			.item-description {
				width: 40.5%;
				padding: 1.5% 0;
			}
				.item-description h3 {
					font-size: 24px;
				}
				.item-description .price-block {
					margin-left: 0;
					margin-bottom: 15%;
				}
				.inform {
					display: flex;
					justify-content: space-between;
					margin-bottom: 9%;
				}
				.inform p {
					display: inline-block;
				}
				.inform .yes {
					display: block;
				}
				.inform .not {
					display: none;
				}
					.inactive {
						color: #aba9a7;
					}
				.item-text {
					margin-bottom: 9%;
				}
				.item-description ul li {
					position: relative;
					padding: 0 0 5px 20px;
				}
					.item-description ul li::before{
						content: "";
						position: absolute;
						top: 28%;
						left: 0;
						display: block;
						width: 8px;
						height: 8px;
						background-color: #000;
						-webkit-transform: rotate(45deg);
										transform: rotate(45deg);
					}



@media screen and (max-width:840px) {
	.main-header.page li a{
    padding: 25px 10px 0;
	}
	.main-header.page .login {
		padding-left: 50px;
	}
}

@media screen and (max-width:740px) {
	.content-block {
		flex-wrap: wrap;
	}
	.block-inner h2 {
		text-align: center;
		font-size: 26px;
		line-height: 26px;
	}
	.main-header.page .hidden-menu {
		display: block;width: 100px;
		order: -1
	}
	.main-header.page .main-navigation {
		display: none;
	}
	.main-header.page .mobi-hover .icon {
    top: 20px;
	}
	.modal-content-map {
    width: 90%;
    margin-left: 5%;
    height: 400px;
    overflow: hidden;
	}
	aside {
    width: 190px;
	}
	.catalog-item .item {
		width: 49%;
	}
	.big-heading h2 {
		font-size: 40px;
		line-height: 40px;
	}
	.about h3 {
    margin-top: 20px;
    padding-left: 10%;
	}
	.breadcrumbs {
		text-align: center;
	}
	.item-gallery, .item-description {
    width: 97%;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
	}
}

@media screen and (max-width:694px) {
	.main-header a{
		padding: 15px 10px;
	}
	.login::before {
    top: 18px;
	}
	.main-header.page .mobi-hover .icon {
    top: 10px;
	}
	.block-inner {
		padding-top: 80px
	}
	/*.block-inner h2 {
		text-align: center;
	}*/
}

@media screen and (max-width:680px){
	.main-content-right input {
		width: 96%;
		height: 40px;
		margin-bottom: 5px;
	}
}

@media screen and (max-width:640px) {
	.main-header .centerfix {
		flex-wrap: wrap;
	}
	.main-header a{
		padding: 15px 10px;
	}
	.main-block {
		margin-top: 10px;
		padding-top: 10px;
	}
	.main-content-title {
		font-size: 30px;
		font-weight: 600;
		margin-bottom: 10px;
	}
	.main-content-left ul li,
	.main-content-left > p,
	.main-content-right p{
		line-height: 1.2;
		margin-bottom: 10px;
	}

	.block-left, .block-right {
    width: 100%;
    padding-left: 10%;
		padding-right: 10%;
	}
	.toggle {
		display: none;
	}
	.block-left ul li {
    padding: 5px 0 0 30px;
	}
	.block-right table {
    border-collapse: collapse;
	}
	.list-description {
		padding-left: 5px;
	}
}

@media screen and (max-width:590px) {
	.main-header .hidden-menu {
		display: block;
	}
	.main-header .main-navigation {
		display: none;
	}
	.main-logo {
    padding-top: 20vh;
	}
	.features {
		flex-direction: column;
	}
	.features-item {
    width: 90%;
    margin: 20px 5%;
	}
	.features-item p {
		font-size: 13px;
		padding: 5px 40px;
		font-weight: 600;
	}
	.main-content {
		flex-wrap: wrap;
	}
	.main-content-left, .main-content-right {
		width: 100%;
		text-align: center;
	}
	.main-content-left {
		margin-bottom: 20px;
	}
	.main-content-left .btn, .main-content-left .btn-map {
		margin: 5px auto;
	}
	.main-content-title {
    font-size: 27px;
    line-height: 35px;
    margin-bottom: 20px;
	}
	.main-content p {
		font-size: 14px;
		line-height: 22px;
		margin-bottom: 10px;
		padding: 5px 10%;
	}
	.main-content-right .enroll-form {
		margin: 0 15%;
	}
	.footer {
		width: 100%;
		text-align: center;
		margin-bottom: 25px;
	}
	.social-btn {
		margin-top: 0
	}
	.footer-copyright {
		justify-content: center;
	}
	.footer-copyright .executor {
    width: 110px;
    margin-left: 10px;
	}
	.footer-copyright .btn {
		margin-top: 0;
		margin-right: 10px;
	}
	.main-footer > .centerfix {
		padding-bottom: 0
	}
	.catalog-item .item {
		width: 90%;
		margin-left: 5%;
	}

}

@media screen and (max-width:506px) {
	.modal-content {
    top: 120px;
    left: 5%;
		margin-left: 0;
		max-width: 460px;
    width: 90%;
    padding: 10%;
		box-sizing: border-box;
	}
	.modal-content .login-form {
		margin-top: 15px
	}
	.login-form input[type="text"], .login-form input[type="password"] {
		width: 80%;
	}
	.catalog {
		flex-wrap: wrap;
	}
	aside {
    width: 100%;
	}
	aside .shop-filters {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.catalog-item {
		width: 100%;
	}
	.catalog-item .item {
		box-shadow: 0 5px 32px 2px #a8a8a8;
		transition: transform 0.5s ease;
	}
	.catalog-item .item:hover {
		box-shadow: 0 0 8px 5px #c1bfbd;
		transform: scale(1.05);
	}
	.paginator {
		width: 90%;
    margin-left: 5%;
    text-align: center;
	}

}
@media screen and (max-width:480px) {
	.features-item {
    width: 100%;
    margin: 20px 0;
	}
	.main-content {
		padding: 5%
	}
	.main-content p {
		margin: 5px 5%;
	}
	.main-content-right .enroll-form {
    margin: 10px 5%;
	}
	.big-heading h2 {
		font-size: 33px;
		line-height: 33px;
	}
	.inform {
		flex-direction: column;
	}
	.inform p {
		text-align: center;
		margin: 0 0 5px
	}
}

@media screen and (max-width:450px) {
	aside .shop-filters ul li {
		margin-bottom: 2px;
	}
	aside .shop-filters legend {
		margin-bottom: 0
	}
	aside .shop-filters fieldset {
		width: 90%;
		padding-left: 5%;
	}
	fieldset .btn {
		margin-top: -10px;
		margin-bottom: 20px;
	}
}

@media screen and (max-width:400px) {
	body.inner {
		margin: 0
	}
	.main-logo {
		width: 100%;
	}
	.main-header.page .hidden-menu {
    width: 70px;
	}
	.main-header.page .mobi-hover {
    margin-left: 5%;
	}
	.user-block {
    width: 80px;
	}
	.main-header.page .login {
    padding-left: 40px;
	}
	.modal-content {
    left: 2%;
    width: 96%;
    padding: 10%;
	}
	.modal-content .login-form {
		margin-top: 10px
	}
	.login-form input[type="text"], .login-form input[type="password"] {
		width: 80%;
	}
	.big-heading h2 {
		padding: 0
	}
	.block-left, .block-right {
		padding-left: 3%;
		padding-right: 3%;
	}
}

@media screen and (max-width:365px) {

	.main-content p {
		margin: 5px 0;
	}
	.main-content-right .enroll-form {
    margin: 0;
	}
}

@media screen and (max-width:350px) {
	.main-logo {
		padding-top: 0;
	}
}
